/* GridPane styling */
.grid-pane {
    -fx-background-color: white;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/* User card styling */
.user-card {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.user-card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
}

.user-card .label {
    -fx-font-size: 14px;
    -fx-text-fill: #34459e;
    -fx-font-weight: bold;
}

.user-card .label-title {
    -fx-font-size: 16px;
    -fx-text-fill: #2C3E50;
    -fx-font-weight: bold;
}

/* Button styling */
.nav-btn {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.nav-btn:hover {
    -fx-background-color: #2980B9;
}

.btn-delete {
    -fx-background-color: #E74C3C;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-delete:hover {
    -fx-background-color: #C0392B;
}

.btn-update {
    -fx-background-color: #27AE60;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-update:hover {
    -fx-background-color: #219653;
}

.search-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-color: #BDC3C7;
    -fx-border-radius: 5px;
    -fx-font-size: 18px;
    -fx-padding: 5px;
}
.selected-card {
    -fx-border-color: #34459e;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.blocked-user {
    -fx-background-color: #ffcccc; /* Light red background */
    -fx-border-color: red; /* Red border */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-text-fill: red; /* Red text */
    -fx-font-weight: bold; /* Make text bold */
}
